{% include "bateuabad/header.html" %}
{% load staticfiles %}
<img src="{% static 'bateuabad/images/bg_large.png' %}" id="background">
	
<style>
	.list-group-item {
		background-color: 
	}
	label {
		font-size:18px;
		text-align:left;
		font-weight: lighter;
	}
	#id_text {
	    height: 100px;
	    width: 300px;
	    max-width:420px;
	}

	#id_title {
		height:30px;
		width:300px;
	}
</style>

<div class="row">
	<div class="col-md-4 col-md-offset-4 col-xs-12">
		<h1 style="color:white;">Nova Postagem</h1>
		<form method="POST" class="post-form">{% csrf_token %}
			<ul class="list-group">
    			<li class="list-group-item">
    			
    				<div>
        				{{ form.non_field_errors }}
						<div class="fieldWrapper">
						    {{ form.title.errors }}
						    <label for="{{ form.title.id_for_label }}">Título</label> (opcional)<br>
						    <div align="center">{{ form.title }}</div>
						</div>
						<div class="fieldWrapper">
						    {{ form.text.errors }}
						    <label for="{{ form.text.id_for_label }}">Mensagem</label><br>
						    <div align="center">{{ form.text }}</div>
						</div>
        			</div><br>
        		</li>
        	</ul>
        	<button type="submit" class="save btn btn-primary raised">Postar</button>
        	<a class="btn btn-primary raised" href="{% url 'board:index' %}">voltar</a> 
    	</form>
	</div>
</div>

{% include "bateuabad/footer.html" %}