<br><br><br><br><br><br><br>
<style>
	.footerLeftText {
		float: left;
    	padding: 4px;
	}

	.footerRightText {
		float: right;
    	padding: 4px;
	}

	.footerText {
		color:darkgrey;
		font-size:13px;
		font-weight: lighter;
	}

	.fa {
		font-size: 35px;
	}
</style>
<nav class="navbar navbar-default footer" style="
	background-color:transparent;
	border-color:transparent;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:50px;
    color:transparent;">
  <div class="container-fluid">
  <div class="footerLeftTexts">
   	<div class="footerLeftText"><p class="footerText" >contatobateuabad@gmail.com,</p></div>
   	<div class="footerLeftText"><p class="footerText" >Porto Alegre, RS</p></div>
   	<div class="footerLeftText"><a class="footerText" href="https://bateuabad.typeform.com/to/bLS1aN" target="_blank">Deixe seu Feedback</a></div>
  </div>
  <div class="footerRightTexts">
   	<div class="footerRightText"><a href="https://www.facebook.com/bateuabadbrasil/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></div>
   	<div class="footerRightText"><p style="color:transparent">&nbsp;</p></div>
   	<div class="footerRightText"><a href="https://github.com/rrrichter/bateuabad" target="_blank"><i class="fa fa-github fa-2x"></i></a></div>
  </div>
  </div>
</nav>

</body>
</div>
</html>