{% include "bateuabad/header.html" %}
{% load staticfiles %}


	

<div style="text-align:center;color:white" >
<img src="{% static 'bateuabad/images/logo-white.png' %}" height="192" width="192">
<h2>Nós somos uma comunidade anônima para se aprender e conversar sobre saúde mental.</h2>
</div><br>
<div align="center">
<a type="button" class="btn btn-primary raised" href="{% url 'board:index' %}">Entrar</a>
<!--<a type="button" class="btn btn-primary raised">Lista de emails</a>-->
</div>

{% include "bateuabad/footer.html" %}